*.pyc
*.swp
bin/
downloads/*
caches/*
develop-eggs/
eggs/*
parts/
.installed.cfg
*.egg-info
*.orig
*.mo
*.sqlite
/*.xml
/*.html
settings_override.py
supervisord.pid
/logs/*
/webroot/*
/.mr.developer.cfg
/src/
/processes.conf
/*.pickle
/data/*
.~lock.*
!.keep
